.env
**/.ipynb_checkpoints
/src/notebooks/.log
**/__pycache__
**/node_modules

**/dataset
**/crawler
**/fonts

# Widgets
/jupyter/widgets/dist/
/jupyter/widgets/lib/
/jupyter/widgets/docs/
/jupyter/widgets/**/labextension/
/jupyter/widgets/**/nbextension/
/jupyter/widgets/MANIFEST
