/* ----------------------------
GLOBAL STYLES
---------------------------- */
body {
	font-family: "Slussen", -apple-system, blinkmacsystemfont, "Segoe UI",
		helvetica, arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
		"Segoe UI Symbol";
}
.io-widget {
	padding: var(--spacing-07);
	background-color: var(--gray-10);
}

/* ----------------------------
HEADLINE
---------------------------- */
.io_widget-headline {
	margin-bottom: var(--spacing-06);

	font-weight: 500;
	font-size: 1.75rem;
}

/* ----------------------------
BUTTON
---------------------------- */
.io_primary-btn {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 12rem;
	margin-top: var(--spacing-04);
	padding: var(--spacing-04);

	font-size: 1rem;
	font-weight: 500;
	text-align: center;

	color: var(--text);
	background-color: var(--orange-100);

	transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.io_primary-btn:hover {
	color: var(--text);
	background-color: var(--orange-active);
}
.io_primary-btn:focus {
	border-color: var(--orange-active);
	box-shadow: inset 0 0 0 1px var(--orange-100), inset 0 0 0 2px #fff;
}

/* ----------------------------
TEXT-INPUT
NUMBER-INPUT
---------------------------- */
.io_text-input,
input[type="number"].io_number-input {
	margin-bottom: var(--spacing-04);

	font-family: "Slussen", -apple-system, blinkmacsystemfont, "Segoe UI",
		helvetica, arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
		"Segoe UI Symbol";
	color: var(--text);
	background-color: transparent;
	border-bottom: 1px solid var(--gray-50);
	outline: none;

	font-size: 1rem;
}
.io_text-input:focus,
.io_text-input:active,
input[type="number"].io_number-input:active,
input[type="number"].io_number-input:focus {
	border-bottom: 2px solid var(--orange-100);
	outline: none;
}
.io_text-input::placeholder,
input[type="number"].io_number-input::placeholder {
	color: var(--gray-50);
}
.bx--number__controls {
	top: 39%;
	height: 2.5rem;
}
.bx--number__controls .bx--number__control-btn::before,
.bx--number__controls .bx--number__control-btn::after {
	background-color: transparent;
}
.bx--number__controls .bx--number__rule-divider {
	background-color: var(--gray-50);
}
.bx--number__control-btn {
	border-bottom: none;
}
