/* ---- Slussen Mono ---- */
@font-face {
  font-family: 'Slussen';
  src: url(/static/fonts/Slussen/Slussen-Light.woff2) format('woff2'),
    url(/static/fonts/Slussen/Slussen-Light.woff) format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Slussen';
  src: url(/static/fonts/Slussen/Slussen-Light-Italic.woff2) format('woff2'),
    url(/static/fonts/Slussen/Slussen-Light-Italic.woff) format('woff');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Slussen';
  src: url(/static/fonts/Slussen/Slussen-Regular.woff2) format('woff2'),
    url(/static/fonts/Slussen/Slussen-Regular.woff) format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Slussen';
  src: url(/static/fonts/Slussen/Slussen-Regular-Italic.woff2) format('woff2'),
    url(/static/fonts/Slussen/Slussen-Regular-Italic.woff) format('woff');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Slussen';
  src: url(/static/fonts/Slussen/Slussen-Medium.woff2) format('woff2'),
    url(/static/fonts/Slussen/Slussen-Medium.woff) format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Slussen';
  src: url(/static/fonts/Slussen/Slussen-Medium-Italic.woff2) format('woff2'),
    url(/static/fonts/Slussen/Slussen-Medium-Italic.woff) format('woff');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Slussen';
  src: url(/static/fonts/Slussen/Slussen-Bold.woff2) format('woff2'),
    url(/static/fonts/Slussen/Slussen-Bold.woff) format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Slussen';
  src: url(/static/fonts/Slussen/Slussen-Bold-Italic.woff2) format('woff2'),
    url(/static/fonts/Slussen/Slussen-Bold-Italic.woff) format('woff');
  font-weight: 700;
  font-style: italic;
}
/* ---- Slussen Mono ---- */
@font-face {
  font-family: 'Slussen Mono';
  src: url(/static/fonts/Slussen\ Mono/Slussen-Mono-Extralight.woff2)
      format('woff2'),
    url(/static/fonts/Slussen\ Mono/Slussen-Mono-Extralight.woff) format('woff');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Slussen Mono';
  src: url(/static/fonts/Slussen\ Mono/Slussen-Mono-Extralight-Italic.woff2)
      format('woff2'),
    url(/static/fonts/Slussen\ Mono/Slussen-Mono-Extralight-Italic.woff)
      format('woff');
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: 'Slussen Mono';
  src: url(/static/fonts/Slussen\ Mono/Slussen-Mono-Regular.woff2)
      format('woff2'),
    url(/static/fonts/Slussen\ Mono/Slussen-Mono-Regular.woff) format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Slussen Mono';
  src: url(/static/fonts/Slussen\ Mono/Slussen-Mono-Regular-Italic.woff2)
      format('woff2'),
    url(/static/fonts/Slussen\ Mono/Slussen-Mono-Regular-Italic.woff)
      format('woff');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Slussen Mono';
  src: url(/static/fonts/Slussen\ Mono/Slussen-Mono-Medium.woff2)
      format('woff2'),
    url(/static/fonts/Slussen\ Mono/Slussen-Mono-Medium.woff) format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Slussen Mono';
  src: url(/static/fonts/Slussen\ Mono/Slussen-Mono-Medium-Italic.woff2)
      format('woff2'),
    url(/static/fonts/Slussen\ Mono/Slussen-Mono-Medium-Italic.woff)
      format('woff');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Slussen Mono';
  src: url(/static/fonts/Slussen\ Mono/Slussen-Mono-Bold.woff2) format('woff2'),
    url(/static/fonts/Slussen\ Mono/Slussen-Mono-Bold.woff) format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Slussen Mono';
  src: url(/static/fonts/Slussen\ Mono/Slussen-Mono-Bold-Italic.woff2)
      format('woff2'),
    url(/static/fonts/Slussen\ Mono/Slussen-Mono-Bold-Italic.woff)
      format('woff');
  font-weight: 700;
  font-style: italic;
}
