/* Set the default typography for monospace elements */
tt,
code,
kbd,
samp,
pre {
  font-family: var(--jp-code-font-family);
  font-size: var(--jp-code-font-size);
  line-height: var(--jp-code-line-height);
}

/* Give the editor more space */
#jp-main-dock-panel {
  padding: 0px; 
}
.lm-DockPanel-widget {
  border-left: none;
}
.lm-DockPanel-tabBar .lm-TabBar-tab {
  border-top: none;
}
.lm-DockPanel-tabBar .lm-TabBar-tab.lm-mod-current {
  min-height: calc( var(--jp-private-horizontal-tab-height) + 3 * var(--jp-border-width) )
}
.lm-TabBar .lm-TabBar-addButton {
  padding: 5px;
}
.lm-TabBar-content > .lm-TabBar-tab:first-of-type {
  border-left: none;
}

/* Style file browser */
/* .p-StackedPanel-child, .jp-FileBrowser {
  background: var(--jp-layout-color3);
}
.jp-FileBrowser .jp-Toolbar {
  background: var(--jp-layout-color3);
}
.jp-FileBrowser .jp-DirListing-content {
  background: var(--jp-layout-color3);
} */

/* Styles toolbar */
.jp-NotebookPanel-toolbar {
  border-bottom: none;
  box-shadow: none;
}

/* Style notebook */
.jp-Cell {
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
}