/* Set the default typography for monospace elements */
tt,
code,
kbd,
samp,
pre {
  font-family: var(--jp-code-font-family);
  font-size: var(--jp-code-font-size);
  line-height: var(--jp-code-line-height);
}

/* Give the editor more space */
#jp-main-dock-panel {
  padding: 0px;
}
.lm-DockPanel-widget {
  border-left: none;
}
.lm-DockPanel-tabBar .lm-TabBar-tab {
  border-top: none;
}
.lm-DockPanel-tabBar .lm-TabBar-tab.lm-mod-current {
  min-height: calc(
    var(--jp-private-horizontal-tab-height) + 3 * var(--jp-border-width)
  );
}
.lm-TabBar .lm-TabBar-addButton {
  padding: 5px;
}
.lm-TabBar-content > .lm-TabBar-tab:first-of-type {
  border-left: none;
}

/* Styles sidebar */
.jp-SideBar {
  background: var(--jp-layout-color3) !important;
}
.jp-SideBar.lm-TabBar.jp-mod-left {
  border-right: none;
}
.jp-SideBar.lm-TabBar.jp-mod-left .lm-TabBar-tab + .lm-TabBar-tab,
.jp-SideBar.lm-TabBar.jp-mod-left
  .lm-TabBar-tab.lm-mod-current
  + .lm-TabBar-tab {
  border: none;
}
.jp-SideBar .lm-TabBar-tab:not(.lm-mod-current) {
  background: var(--jp-layout-color3) !important;
}

/* Styles toolbar */
.jp-NotebookPanel-toolbar {
  border-bottom: none;
  box-shadow: none;
}

/* Style notebook */
.lm-DockPanel-widget {
  border-bottom: none;
  border-right: none;
}
.jp-Cell {
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
}
.jp-InputArea-editor {
  border: transparent;
}
.jp-mod-active .jp-MarkdownOutput {
  border: none;
}
/* 
  Hide Input promt 

  TODO: Collapsible headlines are not working anymore
*/
.jp-Notebook .jp-Cell .jp-InputPrompt {
  display: none;
}

/* Hides output prompt to align widgets with code cells */
.jp-OutputPrompt {
  display: none;
}

/* Markdown code cells */
.jp-RenderedHTMLCommon pre,
.jp-RenderedHTMLCommon code {
  background: rgb(254, 231, 223);
}
.jp-RenderedHTMLCommon > pre {
  padding: 1.5em 2em;
  margin: 0.2em;
}
