/* ----------------------------
COLORS
---------------------------- */
$orange-20: rgba(252, 133, 96, 0.2);
$orange-50: rgba(252, 133, 96, 0.5);
$orange-100: rgb(252, 133, 96);
$orange-active: rgb(255, 103, 56);

$gray-10: #e8e8e8;
$gray-20: #d9d9d9;
$gray-30: #d6d6d6;
$gray-40: #a9a9a9;
$gray-50: #9c9c9c;

$text: rgb(36, 41, 47);

/* ----------------------------
SPACING
---------------------------- */
$spacing-01: 0.125rem;
$spacing-02: 0.25rem;
$spacing-03: 0.5rem;
$spacing-04: 0.75rem;
$spacing-05: 1rem;
$spacing-06: 1.5rem;
$spacing-07: 2rem;
$spacing-08: 2.5rem;
$spacing-09: 3rem;
$spacing-10: 4rem;
$spacing-11: 5rem;
$spacing-12: 6rem;
$spacing-13: 10rem;

/* ----------------------------
TYPOGRAPHY
---------------------------- */
$sans: 'Slussen', Arial, Helvetica, sans-serif;
$mono: 'Slussen Mono', menlo, consolas, 'DejaVu Sans Mono', monospace;
